@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@300&family=Roboto+Condensed:wght@300&family=Slabo+27px&display=swap');


* {
    margin: 0;
    padding: 0;
    border: none;
}
body {
    font-family: font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
    color: #040504;
}
/*headings and logo and paragraphs*/
h1, h2 {
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
    color: #1C352D;
}
p {
    text-align: justify;
    padding: 15px;
}
#Njovu-logo {
    float: left;
    font-size: 3em;
    margin-left: 3%;
}
#Njovu-logo a {
    text-decoration: none;
    color:#1C352D;
}
/* navigation */
#navigation { 
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.5em;
    text-transform: uppercase;
}
#navigation li {
    float: right;
    margin-right: 3%;
    list-style-type: none;
}
#navigation a {
    text-decoration: none;
    color:#1C352D;
}
#navigation, #Njovu-logo {
    line-height: 100px;
}
#navigation a:hover {
    text-decoration: 1px underline #1C352D;
}
/*photography information*/
#about-us {
    clear:both;
}
.info{
    float: left;
    height: 400px;
    width: 45.5%;
    margin-left: 3%;
    margin-bottom: 5px;
}
.info h2 {
    padding-bottom: 10px;
}
#picture-container {
    float: right;
    height: 400px;
    width: 45.5%;
    margin-right: 3%;
    margin-bottom: 5px;
    overflow: hidden;
}
.picture {
    display: flex;
    justify-content: center;
    width: 100%;
    clear:both;
}
.info h2 {
    padding-bottom: 10px;
}
/*interested in joining section */
#info-3 {
    height: 400px;
    width: 94%;
    margin-left: 3%;
    overflow: hidden;
    text-align: justify;
}
#info-3 h2 {
    padding-bottom: 10px;
}
/*footer*/
footer {
    position: relative;
    grid-area: footer;
}
#social-media {
    text-align:center;
}
#social-media li {
    display: inline;
    line-height: 75px;
    float: center;
    padding: 20px;
}
#social-media a {
    color: #080B08;
    font-size: 2em;
}
/* styling for Gallery.html */
.grid {
    clear: both;
    list-style: 0;
    column-count: 3;
    column-gap: 5px;
    margin-left: 2%;
    width:96%;
}
.grid > img {
    width: 100%;
    filter: grayscale(80%);
}
.grid > img:hover {
    filter:none;
}
/* styling for contact us page.html */
#form {
    clear: both;
    font-family: 'Roboto Condensed', sans-serif;
    height: px;
}
/*submit inputs and button */
#form-container {
    border: 1px solid 080B08;
    padding: 100px;
    text-align: center; 
    width: 45.5%;
    background-image: url(../images/giraffe\ .jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    color: #080B08;
    padding: 30px;
    clear:both;
    margin-left: auto;
    margin-right: auto;
}
#form-container h2, h4 {
    padding-bottom: 30px;
    color: #1C352D;
    font-size: 1.5em;
}
.text-input {
    border: 1px solid #1C352D;
    height: 20px;
    background: #282929;
    color: #f4f9f7;
    width: 100%;
    margin: 5px 0 20px 0;
    border: 1px solid #f4f9f7;
    border-radius: 10px;
    }
label,input {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
.submit-button {
    padding: 15px 35px 15px 35px;
    text-transform: uppercase;
    font-size: 1.5em;
    color:#1C352D;
    background-color:#d1d6d5, 
}
/*contact information*/
#contact-information {
    font-family: 'Roboto Condensed', sans-serif;
    margin: auto;
    width: 50%;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 80px;
}
#contact-information h3{
    padding-bottom: 20px;
    color: #1C352D;
    font-size: 1.5em;
}
#contact-information li{
    color:#080B08;
    list-style-type: none;
    padding: 5px;
}
#contact-information i{
    color:#1C352D;
    padding: 5px;
}
#contact-information span{
    color:#080B08;
    padding: 5px;
    font-family: 'Roboto Condensed', sans-serif;
}
/*media queries */
/* For medium screen sizes from 800px wide and down */
@media screen and (max-width:800px){
    #Njovu-logo {
        margin:auto;
        text-align: center;
        line-height: 60px;
    }
    #navigation li {
        float: left;
        margin: 0 auto;
        margin-left: 6%;
    }
    .info {
        height:fit-content;
        width: 100%;
        margin: auto 0;
        margin-bottom: 5px;
        clear: both;
    }
    .info h2
    {
        text-align: center;
        margin-top: 5px;
    }
    #picture-container {
        height:fit-content;
        width: 92%;
        margin-right: 4%;
        overflow: hidden;
    }
    .picture {
        display:;
        justify-content: center;
        width: 100%;
    }
    #about-us {
        clear: none;
    }
    }
}