@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@300&family=Roboto+Condensed:wght@300&family=Slabo+27px&display=swap');


* {
    margin: 0;
    padding: 0;
    border: none;
}
body {
    font-family: font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
    color: #040504;
}
/*headings and logo */
h1, h2 {
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
    color: #1C352D;
}
#Njovu-logo {
    float: left;
    font-size: 3em;
    margin-left: 3%;
}
#Njovu-logo a {
    text-decoration: none;
    color:#1C352D;
}
/* navigation */
#navigation { 
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.5em;
    text-transform: uppercase;
}
#navigation li {
    float: right;
    margin-right: 3%;
    list-style-type: none;
}
#navigation a {
    text-decoration: none;
    color:#1C352D;
}
#navigation, #Njovu-logo {
    line-height: 100px;
}
#navigation a:hover {
    text-decoration: 1px underline #1C352D;
}
/*photography information*/
#about-us {
    height: 800px;
}
#info-1{
    float: left;
    height: 400px;
    width: 42.5%;
    margin-left: 3%;
    margin-bottom: 3%;
}
#info-1 h2 {
    padding-bottom: 10px;
}
#info-1 p {
    text-align: justify;
}
#picture-1-container {
    float: right;
    height: 400px;
    width: 42.5%;
    margin-right: 3%;
    margin-bottom: 3%;
    border: 1px solid #080B08;
    overflow: hidden;
}
#picture-1 {
    display: flex;
    justify-content: center;
    width: 100%;
}
#info-2{
    float: left;
    height: 400px;
    width: 42.5%;
    margin-left: 3%;
    margin-bottom: 3%;
}
#info-2 h2 {
    padding-bottom: 10px;
}
#info-2 p {
    text-align: justify;
}
#picture-2-container {
    float: right;
    height: 400px;
    width: 42.5%;
    margin-right: 3%;
    margin-bottom: 3%;
    overflow: hidden;
    border: 1px solid #080B08;
}
#picture-2 {
    display: flex;
    justify-content: center;
    width: 100%;
}
/*interested in joining section */
#info-3 {
    height:400px;
    width: 90%;
    margin-left: 3%;
    overflow: hidden;
}
#info-3 h2 {
    padding-bottom: 10px;
}
/*footer*/
#social-media {
    text-align:center;
}
#social-media li {
    display: inline;
    line-height: 75px;
    float: center;
    padding: 20px;
}
#social-media a {
    color: #080B08;
    font-size: 2em;
}
#contact-button-container {
    text-align: center;
    height: 100px;
    margin: auto 0;
    border: 1px solid black;
}
#contact-button {
align-items: center;
padding: 20px;
}
#contact-button a {
    border: 1px solid black;
    padding: 25px;
    margin: auto 0;
    float: center;
    text-decoration: none;
}

/* styling for Gallery.html */
.grid {
    clear: both;
    list-style: 0;
    column-count: 3;
    column-gap: 5px;
    margin: 3%
}
.grid > img {
    width: 100%;
    filter: grayscale(80%);
}
.grid > img:hover {
    filter:none;
}
