@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@300&family=Roboto+Condensed:wght@300&family=Slabo+27px&display=swap');

/* header */

header {
    height: 150px;
    background-color: blue;
}